<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1292.v27d8cc3e2602">
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.37.0">
      <projectUrl>https://github.com/VedRatan/GO-CRUD/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.37.0">
          <spec></spec>
        </com.cloudbees.jenkins.GitHubPushTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3659.v582dc37621d8">
    <script>pipeline {
    agent any
    stages{
        stage(&apos;Redeploy app service&apos;) {
            steps {
                sh &apos;ls&apos;
                sh &apos;docker ps&apos;
                sh &apos;docker stop ci-cd_app_1&apos;
                sh &apos;docker rm ci-cd_app_1&apos;
                sh &apos;docker-compose up -d --no-deps --build app&apos;
                sh &apos;docker network disconnect ci-cd_default ci-cd_app_1&apos;
                sh &apos;docker network connect flipr-assignment_default ci-cd_app_1&apos;
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>